@model AS.DATA.EF.Models.Location

@{
    ViewData["Title"] = "Details " + Model.LocationAddress;
}

<h1 style="margin-left: 1.5em;">@ViewData["Title"]</h1>


<div>
@*    <h4>Location</h4>*@
    <hr />
    <dl class="row" style="margin-left: 3em;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LocationId" style="margin-left: 3.5em;" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
