@model AS.DATA.EF.Models.Country

@{
    ViewData["Title"] = "Delete " + Model.CountryName;
}

<h1 style="margin-left: 1.5em;">@ViewData["Title"]</h1>


<h3 style="margin-left: 2.2em;">Are you sure you want to delete @Model.CountryName?</h3>
<div>
    @*<h4>Country</h4>*@
    <hr />
    <dl class="row" style="margin-left: 3em;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CountryId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-left: 3.5em"/>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
