@model AS.DATA.EF.Models.Vendor

@{
    ViewData["Title"] = "Details " + Model.VendorName;
}

<h1 style="margin-left: 1.5em;">@ViewData["Title"]</h1>


<div>
    @*<h4>Vendor</h4>*@
    <hr />
    <dl class="row" style="margin-left: 3em;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendorId" style="margin-left: 3.5em;" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
